*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #000;
}
.slider_input{
    display: none;
    opacity: 0;
    visibility: hidden;
}
.slider{
    display: flex;
    width: 100%;
    display: flex;
    justify-content: center;
}
.slider_img{
    background-size: auto 110%;
    background-position: center;
    background-repeat: no-repeat;
    margin: 10px;
    position: relative;
    height: 420px;
    border-radius: 100px;
    cursor: pointer;
    flex: 0.1;
    overflow: hidden;
    transition: flex 0.5s ease-in, border-radius 0.5s ease-in;
}
#input1:checked ~ #label1{
    flex: 0.5;
    border-radius: 40px;
}
#input2:checked ~ #label2{
    flex: 0.5;
    border-radius: 40px;
}
#input3:checked ~ #label3{
    flex: 0.5;
    border-radius: 40px;
}
#input4:checked ~ #label4{
    flex: 0.5;
    border-radius: 40px;
}
#input5:checked ~ #label5{
    flex: 0.5;
    border-radius: 40px;
}